.button {
  @include text(16px, 18px, 700);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 46px;
  padding: 14px 24px;
  border-radius: 8px;
  color: $white;
  background: $primary-default;
  border: 2px solid transparent;
  filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.1));
  transition: all 0.3s ease;
  outline: none;

  &:hover {
    box-shadow: $secondary-shadow-02-08;
  }

  &:focus {
    background: $primary-hovered;
    box-shadow: $secondary-shadow-01-04;
  }

  &:disabled {
    background: $light-hovered;
    color: $light-pressed;
  }

  &_small {
    @include text(14px, 15px, 700);
    height: 36px;
    padding: 8px 16px;
  }

  &_large {
    @include text(18px, 18px, 700);
    height: 56px;
    padding: 12px 32px;
  }

  &_transparent {
    border: 2px solid $primary-default;
    background: transparent;
    color: $primary-default;

    &:hover {
      background: $primary-default;
      color: $white;
    }

    &:focus {
      background: $white;
      color: $primary-default;
    }


    &:disabled {
      border: 2px solid $light-hovered;
      color: $light-pressed;
    }
  }

  &_transparent-white {
    border: 2px solid $white;
    background: transparent;
    color: $white;

    &:hover {
      background: $primary-default;
      border: 2px solid $primary-default;
      color: $white;
    }

    &:focus {
      background: $white;
      color: $primary-default;
    }


    &:disabled {
      border: 2px solid $light-hovered;
      color: $light-pressed;
    }
  }

  &_white {
    background: $white;
    color: $primary-default;

    &:hover {
      background: $primary-default;
      border: 2px solid $primary-default;
      color: $white;
    }

    &:focus {
      background: $white;
      color: $primary-default;
    }


    &:disabled {
      border: 2px solid $light-hovered;
      color: $light-pressed;
    }
  }

  &_wave {
    background: transparent;
    color: $dark-hovered;
    filter: none;

    &:hover {
      background: transparent;
      border: 2px solid transparent;
      color: $primary-default;
    }

    &:focus {
      background: $white;
      color: $primary-default;
    }


    &:disabled {
      border: 2px solid $light-hovered;
      color: $light-pressed;
    }
  }

  &_icon {
    svg {
      display: block;
      width: 24px;
      height: 24px;
      margin-left: 8px;
      fill: currentColor;
      color: $primary-default;
    }
  }
}