$white: #FFFFFF;
$black: #000000;
$gray: #EBEDEF;
$red:  #F92E47;
$yellow: #FADD78;
$green: #4BD58A;
$deep-blue: #204963;

$primary-default: #00BDD6;
$primary-hovered: #06A8BD;
$primary-pressed: #1E9CB2;

$dark-default: #304654;
$dark-hovered: #1A2C36;
$dark-pressed: #142229;

$light-default: #F0F7FB;
$light-hovered: #CCDDE9;
$light-pressed: #B5C9D7;

$secondary-default: #E0EEF8;
$secondary-hovered: #9BBACF;




$secondary-shadow-02-08: 0 8px 24px rgba(0, 189, 214, 0.6);
$secondary-shadow-01-04: 0 0 0 4px rgba(0, 189, 214, 0.5);;