@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff")  format("woff");
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff")  format("woff");
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff")  format("woff");
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff")  format("woff");
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff")  format("woff");
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff")  format("woff");
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-ExtraLight.woff2") format("woff2"), url("../fonts/Gilroy-ExtraLight.woff")  format("woff");
  font-weight: 200;
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff")  format("woff");
  font-weight: 100;
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff")  format("woff");
  font-weight: 400;
}
